$slider-width:800px;
$slider-height:470px;
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.clearfix:after{
    content: " ";
    clear:  both;
    display: table;
    overflow: auto;
}
.noClick{
    cursor: not-allowed;
}
// 轮播组件
.slider-container{
//    width: $slider-width;
   height: $slider-height;
   background-color: #fff;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   cursor: pointer;
   ul{
       height: 100%;
       position: absolute;
       left: 0;
    //    transition: left 5s;
    .pic{
        // width: $slider-width / 4;
        height: 100%;
        float: left;
        border-right: 1px solid #f0f3ef;
        box-sizing: border-box;
    }
    img{
        display: block;
        margin: 0 auto 10px;
        &.imgSlider{
           position: absolute;
           top: 50%;
           transform: translate(0,-50%);
        }
    }
    .productDes{
        width:95%;
        width: calc(100% - 10px);
        height:200px;
        padding:0 5px;
        color: #999;
        font-size: 12px;
        text-align: center;
        .productName{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
    .price{
        .newPrice{
            font-size: 18px;
            font-weight: 700;
            color: #f10214;
            margin-right: 5px;
        }
        i{
            font-style: normal;
            font-size: 12px;
        }
    }
   }  
    //向左按钮、向右按钮
    .left-btn,.right-btn{
        width: 20px;
        height: 40px;
        line-height: 40px;
        background-color: rgba(0,0,0,0.18);
        position: absolute;
        top: calc(50% - 40px);
        z-index: 888;
        color: white;
        border: 0;
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: rgba(0,0,0,0.3);
        }
    }
    .left-btn{  
        left: 0;  
    }
    .right-btn{
        right: 0;
    }
    //指示圆
    .indicater{
        position: absolute;
        left: 50%;
        bottom:20px;
        transform: translate(-50%,0);
        color: #fff;
        .icon-yuan{
            font-size: 12px;
            position: relative;
            &:hover{
                .icon-circle{
                    display: block; 
                    text-shadow: 0 0 12px #fff;         
                }
            }
            .icon-circle{
                font-size: 6px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: none;              
            }
        }
    }
}
