$cards-height:102px;
$slider-width:800px;
$slider-height:275px;
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.clearfix:after{
    content: " ";
    clear:  both;
    display: table;
    overflow: auto;
}
.noClick{
    cursor: not-allowed;
}
// 卡片展示器
.cardSlider-container{
    height: $cards-height;
    background-color: lightgrey;
    margin: 0 auto;
    .slider-cards{
        height: $cards-height - 20;
        float: left;
        margin: 10px;
        position: relative;
        overflow: hidden;
        .slider-cards-ul{
            height: $cards-height - 20;
            position: absolute;
            left: 0;
            transition: left 1s;
        }
        .slider-card{
            background-color: #fff;
            float: left;
            margin-right:10px;
            font-size: 20px;
            text-align: center;
            padding: 10px 0;
            .card-content{
                float: left;
                .card{
                    width: 62px;
                    height: 62px;
                    margin-left: 10px;
                }
                p{
                    height: 31px;
                    line-height: 31px;
                    margin-left: 10px;
                    color: #3f516e;
                    font-weight: 600;
                    .num{
                        background-color: #9a2f25;
                        color: #fff;
                        font-size: 12px;
                        padding:3px 5px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    .card-button{
        width: 51px;
        float: left;
        cursor: pointer;
        .pre-button,.next-button{
            width: 15px;
            height: 15px;
            padding: 18px;
            background-color: #e1e1e1;
            
        }
    }
    
    
}
// 轮播组件
.slider-container{
   width: $slider-width;
   height: $slider-height;
   background-color: #fff;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   ul{
       height: 100%;
       position: absolute;
       left: 0;
    .pic{
        width: $slider-width / 4;
        height: 100%;
        float: left;
        border-right: 1px solid #f0f3ef;
        box-sizing: border-box;
        &:last-child{
            border-right: 1px solid transparent;
        }
    }
   }  
}
//向左按钮、向右按钮
.left-btn{
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #D9D9D9;
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
}
.right-btn{
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #D9D9D9;
    position: absolute;
    top: calc(50% - 40px);
    right: 0;
}